@model MvcWebApp.Models.ViewModels.DetailsUser

@{
    ViewData["Title"] = "Details";
}

<h1>Usuário</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.CountryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.CountryId)
        </dd>
    </dl>
</div>

<div class="d-inline p-2 mb-3">
    <p>
        Deletar usuário:
        <i class="bi bi-trash3" data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
    </p>
    <h1>Contatos</h1>
    <p>
</div>

<a asp-action="Create" asp-route-id="@Model.User.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.userContacts != null)
        {
            @foreach (var item in Model.userContacts)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-UserId="@Model.User.Id" asp-route-FriendId="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza que gostaria de deletar essa pessoa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                @Html.ActionLink(
                "Sim",
                "DeleteUser",                         // controller action
                "UserContacts",        // controller
                new { Model.User.Id },         // action parameters aka route values
                new { @class = "btn btn-primary" })         <!-- html -->
            </div>
        </div>
    </div>
</div>

